{% extends 'common/base.html' %}
{% from 'common/macro/macro.html' import pagination_show%}

{% block title %}
    博客首页
{% endblock %}



{% block content %}
    {% block page_content %}
        {{ wtf.quick_form(form) }}

        {% for p in posts %}
            <div class="media">
                <div class="media-left">
{#                    http://baidu.com/postdetail/2/#}
                    <a href="{{ url_for('main.post_detail',postid=p.id) }}">
                        <img class="media-object" src="{{ url_for('static',filename='uploads/'+p.author.icon) }}"
                             alt="头像">
                    </a>
                </div>
                <div class="media-body">
                    <div style="float: right">{{ moment(p.pub_time).fromNow() }}</div>
                    <h4 class="media-heading">{{ p.author.username }}</h4>
                    {{ p.content }}
                    {% if current_user.is_authenticated  %}
                          <div url="{{ url_for('posts.collect',pid=p.id) }}" style="cursor: pointer" class="collect">
                              {{ current_user.is_favorite(p.id) }}
                              {% if current_user.is_favorite(p.id) %}
                                取消收藏
                            {% else %}
                                收藏
                            {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    {% endblock %}

    {{ pagination_show(pagination,'main.index') }}
{% endblock %}

{% block scripts %}
 {{ super() }}
    <script type="text/javascript">
        $(function () {
            $(".collect").click(function () {
                _this = this
                {#alert($(this).attr('url'))#}
                $.get($(this).attr('url'), function(data){
                    if(data['result'] == 'ok'){
                         if($(_this).text() == '收藏'){
                            $(_this).text('取消收藏')
                        }else{
                            $(_this).text('收藏')
                        }
                    }
                });
            })
        })
    </script>
{% endblock %}